<section class="review" id="review">

  <h1 class="heading">students review</h1>
  <h3 class="title">what our students says about us</h3>

  <div class="box-container">
    <div class="box">
      <img src="assets/images/review1.png" alt="">
      <h3>Someone's Name</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, placeat?</p>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-half" aria-hidden="true"></i>
    </div>
    <div class="box">
      <img src="assets/images/review2.png" alt="">
      <h3>Someone's Name</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, placeat?</p>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
    <div class="box">

      <img src="assets/images/review3.jpg" alt="">
      <h3>Someone's Name</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, placeat?</p>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
</section>
