<section class="teacher" id="teacher">
  <h1 class="heading">our teacher</h1>
  <h3 class="title">start your journey with us</h3>

  <div class="cards-container">
    <div class="cards">
      <img src="assets/images/card1.jpg" alt="">
      <h3>someone's name</h3>
      <p>i love teaching</p>
      <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
    <div class="cards">
      <img src="assets/images/card2.jpg" alt="">
      <h3>someone's name</h3>
      <p>i love teaching</p>
      <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
    <div class="cards">
      <img src="assets/images/card3.jpg" alt="">
      <h3>someone's name</h3>
      <p>i love teaching</p>
      <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
    <div class="cards">
      <img src="assets/images/card4.jpg" alt="">
      <h3>someone's name</h3>
      <p>i love teaching</p>
      <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
  </div>



</section>
