<!-- header section starts -->
<header>
<a href="#" class="logo" ><i class="fa fa-graduation-cap" ></i>Logo</a>
<nav class="navbar">
  <ul class="navbar-links">
    <li class="navbar-link"><a routerLink="/home" routerLinkActive="active-link">home</a></li>
    <li class="navbar-link"><a routerLink="/about" routerLinkActive="active-link">about</a></li>
    <li class="navbar-link"><a routerLink="/teacher" routerLinkActive="active-link">teacher</a></li>
    <li class="navbar-link"><a routerLink="/courses" routerLinkActive="active-link">courses</a></li>
    <li class="navbar-link"><a routerLink="/review" routerLinkActive="active-link" >review</a></li>
    <li class="navbar-link"><a routerLink="/contact" routerLinkActive="active-link">contact</a></li>
  </ul>
</nav>
<div class="fas fa-bars" (click)="toggleNav()"></div>
</header>
<!-- header section ends -->
