<section class="contact" id="contact">
  <h1 class="heading">contact</h1>
  <h3 class="title">we love conversation ,lets talk.</h3>
  <div class="contact-row">
    <div class="image">
      <img src="assets/images/contact.png" alt="">
    </div>
    <div class="form-container">
      <form action="">
        <input type="text" name="" id="" placeholder="full name">
        <input type="text" placeholder="enter your email">
        <input type="text" name="" id="" placeholder="phone">
        <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
        <input type="submit" value="message">

      </form>
    </div>
  </div>
</section>
