<section class="about" id="about">
  <h1 class="heading">about us</h1>
  <h3 class="title"> start your journey with us</h3>

  <div class="about-row" >

    <div class="content">
      <h3>start your journey ti a better life with our practical courses</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste reprehenderit cumque et laboriosam, sapiente eaque eius praesentium sed tenetur, optio at nesciunt, dolorum aut iusto? Voluptatum ea magni excepturi! Qui?</p>
      <a href="#"><button>learn more</button></a>
    </div>

    <div class="image">
      <img src="assets/images/about-img.png" alt="">
    </div>

  </div>
</section>
