


.home
{
  min-height: 100vh;
  background: linear-gradient( rgba(198,59,250,.8)
  ,rgba(198,59,250,.8)),url(/assets/images/bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.home .content{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-flow:column;
 padding-top: 14rem;
 padding-bottom: 8rem;
 text-align: center;
}

.home .content h1{
  font-size: 5rem;
  color: #fff;
  padding: 0 1rem;
  text-shadow: 0.3rem .5rem rgba(0, 0, 0, .3);
  text-transform: uppercase;
}

.home .content p{
  font-size: 2rem;
  color: #eee;
  padding: 1rem 25rem;
}

.home .content button{
  height: 4rem;
  width: 20rem;
  border-radius: 5rem;
  background: #ff046f;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: .2s;
  border: none;
  box-shadow: 0.3rem 1rem rgba(0, 0, 0, .3);
}

.home .content button:hover{
  letter-spacing: .2rem;
}

.home .box-container{
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.home .box-container .box{
  height: 20rem;
  width: 25rem;
  background: #fff;
  text-align: center;
  margin: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0.3rem .5rem rgba(0, 0, 0, .5);
}

.home .box-container .box i{
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background:#c63bfa;
  font-size: 3rem;
  margin: 2rem 0;
  transition: .2s;
}

.home .box-container .box h3{
  font-size: 2rem;
  color: #ff046f;
  transition: .2s;
}

.home .box-container .box p{
  font-size: 1.3rem;
  padding: .7rem 2rem;
  color: #666;
}

.home .box-container .box:hover i{
  background: #ff046f;
}
.home .box-container .box:hover  h3{
  color:#c63bfa;
}
.home::before{
  content: '';
 border-radius: 50%;
  width: 120%;
  left: 50%;
  bottom: -25rem;
  transform: translateX(-50%);
  position: absolute;
  z-index: -1;
  border-top: 70vh solid #fff;
}



@media (max-width:768px) {
  html{
    font-size: 55%;
  }
  .home .content p{
    padding: 1.5rem 2rem;
  }
  .home::before{
    display: none;
  }
}

