<app-header-section></app-header-section>
<section class="home" id="home">
  <div class="content">
    <h1>learn online from home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <a href="#"><button>discover more</button> </a>
  </div>

  <div class="box-container">
    <div class="box">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <h3>trending courses</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <div class="box">
      <i class="fa fa-fire" aria-hidden="true"></i>
      <h3>free trail</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="box">
      <i class="fa fa-award" aria-hidden="true"></i>
      <h3>certifications</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
</section>
<app-about-section></app-about-section>
<app-teacher-section></app-teacher-section>
<app-courses-section></app-courses-section>
<app-review-section></app-review-section>
<app-contact-section></app-contact-section>
<app-footer-section></app-footer-section>
